In [39]:
def to_camel_case(snake_str):
    components = snake_str.split('_')
    # We capitalize the first letter of each component except the first one
    # with the 'title' method and join them together.
    return components[0] + ''.join(x.title() for x in components[1:])

In [66]:
import re
import io

def transform(sql : str) -> str :
    
    res_sql = ""
    
    for line in io.StringIO(sql): 
        match_type = re.search(" *([a-z_]{3,99}) ([a-z()0-9]{4,99}) (DEFAULT [A-Za-z0-9'-]{1,99})? ?(NOT NULL)", line)
        if match_type is not None:
            
            default = ""
            if match_type.group(3) is not None:
                default = match_type.group(3).replace("DEFAULT ", "default:") + ";"
            
            line = "json:\""+to_camel_case(match_type.group(1))+"\" gorm:\"column:" + match_type.group(1)+ ";type:" + match_type.group(2) +";"+ default + match_type.group(4).replace("NOT NULL", "not null\"")
            
        res_sql = res_sql + line + "\n"
    
    return res_sql
    

    
test1 = """
CREATE TABLE tls210_appln_n_cls (
    appln_id integer DEFAULT 0 NOT NULL,
    nat_class_symbol varchar(15) DEFAULT '' NOT NULL
);                       
"""

print(transform(test1))

CREATE TABLE tls210_appln_n_cls (

json:"applnId" gorm:"column:appln_id;type:integer;default:0;not null"
json:"natClassSymbol" gorm:"column:nat_class_symbol;type:varchar(15);default:'';not null"
);